# Requirements.txt include architecture specific Django packages.
# On creation of the Django `venv`, this package is installed.
cffi==1.14.5
cryptography==3.4.6
psycopg2_binary==2.8.6
unicorn==1.0.2
